<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title><%=title%> - GiantJS</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/highlight.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/<%=page%>.css">
</head>
<body>
<section id="menu">
    <span id="giantLabel"><a href="index.html">GiantJS</a></span>
    <ul id="menu-items">
        <li id="menu-home"><a href="index.html">Home</a></li>
        <li id="menu-blog"><a href="blog.html">Blog</a></li>
        <li id="menu-manual"><a href="introduction.html">Manual</a></li>
        <li id="menu-api"><a class="disabled" href="#">API</a></li>
        <li id="menu-log"><a href="change-log.html">Change log</a></li>
        <li id="menu-roadmap"><a href="roadmap.html">Roadmap</a></li>
    </ul>
</section>
<section id="content">
    <%=content%>
</section>
<section id="footer">
    <p>©2011-<%=currentYear%> <a target="_blank" href="//twitter.com/danielstocker">Dan Stocker</a></p>
    <ul id="links-items">
        <li id="links-twitter"><a target="_blank" href="//twitter.com/giantjsorg"></a></li>
        <li id="links-npm"><a target="_blank" href="//npmjs.com/~giantjs"></a></li>
        <li id="links-github"><a target="_blank" href="//github.com/giantjs"></a></li>
    </ul>
</section>
<!--GA-->
</body>
</html>