#content {
    position: relative;
}

#content > h2 {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

#content > h2 + p {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0 1em 0 0;
    box-sizing: border-box;
    font-size: 12px;
}
