/* header (logo & quote) */

#content > ul:nth-of-type(1) {
    display: table;
    padding: 0;
}

#content > ul:nth-of-type(1) > li {
    display: table-cell;
    vertical-align: middle;
}

#content > ul:nth-of-type(1) > li > * {
    vertical-align: top;
}

#content > ul:nth-of-type(1) > :nth-child(1) {
    width: 100px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
}

#content > ul:nth-of-type(1) > :nth-child(1) > img {
    width: inherit;
    margin-right: 20px;
}

#content > ul:nth-of-type(1) > :nth-child(2) {
    font-size: 14px;
    padding-left: 20px;
}

#content > ul:nth-of-type(1) > :nth-child(2) > strong {
    color: #000000;
}

/* social buttons */

#content > ul:nth-of-type(2) {
    margin: 1em auto 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

#content > ul:nth-of-type(2) > li {
    display: inline-block;
}

/* intro */

#content > p:nth-of-type(1),
#content > p:nth-of-type(2) {
    font-size: 18px;
}

/* features */

#content #features + ul {
    margin-bottom: -20px; /* to offset margin-bottom of items */
    padding: 0;
    font-size: 0;
}

#content #features + ul > li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5% 20px 0;
}

#content #features + ul > li:nth-child(3) {
    margin-right: 0;
}

#content #features + ul > li p {
    font-size: 14px;
}

#content #features + ul > li strong {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #727272;
}

#content #features + ul > li:nth-child(1) strong {
    background-color: #E91E63;
}

#content #features + ul > li:nth-child(2) strong {
    background-color: #9C27B0;
}

#content #features + ul > li:nth-child(3) strong {
    background-color: #2196F3;
}

/* who's using it' */

#content #who-s-using-it + ul {
    padding: 0;
    font-size: 0;
}

#content #who-s-using-it + ul > li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

#content #who-s-using-it + ul > li:nth-child(3) {
    margin-right: 0;
}

#content #who-s-using-it + ul > li img {
    max-height: 200px;
}

#content #who-s-using-it + ul > li:last-child {
    padding-right: 0;
}

#content #who-s-using-it + ul > li > p:nth-child(1) {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #03A9F4;
}

#content #who-s-using-it + ul > li > p:nth-child(1) a {
    color: #FFFFFF;
}

#content #who-s-using-it + ul > li > p:nth-child(2) {
    height: 3em;
    font-size: 14px;
}

#content #who-s-using-it + ul > li > p:nth-child(3) {
    text-align: center;
}

/* readmap */

#content table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content th {
    color: #000000;
}

#content th:nth-child(1) {
    width: 30%;
}

#content th:nth-child(2) {
    width: 15%;
}

#content th:nth-child(3) {
    width: 40%;
}

#content th:nth-child(4) {
    width: 25%;
}

#content td {
    font-size: 14px;
}

#content > p:last-child {
    margin-top: 2em;
    color: red;
    text-align: center;
}
