/* https://www.materialpalette.com/light-blue/blue-grey */

html, body {
    height: 100%;
    min-width: 720px;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #0288D1;
}

code {
    font-family: Roboto Mono, monospace;
    background-color: rgba(179, 229, 252, 0.3);
    padding: 0 0.2em;
}

pre > code {
    display: block;
    padding: 0.5em;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

body > section {
    box-sizing: border-box;
    padding: 0 10px;
}

#menu {
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #03A9F4;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
}

#menu > * {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

#menu > #giantLabel {
    float: left;
    font-size: 24px;
    line-height: 50px;
}

#menu-items {
    float: right;
}

#menu-items > li {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
}

#content {
    max-width: 720px;
    min-height: calc(100% - 100px);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    color: #212121;
    background-color: #FFFFFF;
    font-weight: 300;
}

#content h2 {
    margin-top: 36px;
    margin-bottom: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B6B6B6;
    color: #000000;
}

#content h1 {
    margin-bottom: 36px;
}

#content h3 {
    margin-top: 1em;
    margin-bottom: 18px;
    color: #212121;
}

#content > p {
    margin-top: 1em;
    line-height: 1.5em;
}

#content strong {
    color: #0288D1;
}

#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content blockquote {
    margin: 1em 0 0 0;
    padding: 1em;
    border: 1px solid #B6B6B6;
}

#content > *:first-child {
    margin-top: 0;
}

#content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* footer */

#footer {
    height: 50px;
    color: #FFFFFF;
    background-color: #03A9F4;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer li {
    list-style: none;
}

#footer a {
    text-decoration: none;
    color: #FFFFFF;
}

#footer > * {
    display: inline-block;
    line-height: 50px;
    font-size: 14px;
}

#footer > p {
    float: left;
}

#links-items {
    float: right;
}

#links-items > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#links-items > li > a {
    display: block;
    width: 32px;
    height: 32px;
}

#links-items > li#links-twitter > a {
    background-image: url(../images/twitter-white.png);
}

#links-items > li#links-github > a {
    background-image: url(../images/github-white.png);
}

#links-items > li#links-npm > a {
    background-image: url(../images/npm-white.png);
}
