#content {
    position: relative;
    padding-left: 140px;
}

#content > ol:nth-child(1) {
    position: absolute;
    left: 0;
    width: 120px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

#content > ol:nth-child(1) del {
    text-decoration: none;
    color: #B6B6B6;
}
